{% extends 'admin/baseAdmin.html.twig' %}

    {% block main %}

        <section class="py-5 text-center container w-100">

        <ul class="list-group">
            {% for message in messages %}
                <li class="list-group-item my-0">
                    {{ message.subject|striptags }}
                    <br>
                    <small>
                        de {{ message.email }}
                    </small>
                    <div>
                        <a href="/admin/message/{{ message.id }}">Afficher</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
        </section>

        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="/admin/messages/{% if page is same as(1) %}{{ page }}{% else %}{{ page -1 }}{% endif %}"><</a></li>
                {% set k = 0 %}
                {% for k in 0..nbPages|length() %}
                    {% set k=k+1 %}
                    <li class="page-item"><a class="page-link {% if k is same as(page) %}active{% endif %}" href="/admin/messages/{{ k }}">{{ k }}</a></li>
                {% endfor %}
                <li class="page-item"><a class="page-link" href="/admin/messages/{% if page > nbPages|length() %}{{ page }}{% else %}{{ page +1 }}{% endif %}">></a></li>
            </ul>
        </nav>
    {% endblock %}
