{% extends 'base.html.twig' %}

    {% block main %}

        <section class="py-5 text-center container w-100">
            <div class="card mx-auto text-center">
                <div class="card-body">
                    <h2 class="card-title">{{ post.title }}</h2>
                    <p class="card-text">
                        <small>{{ post.chapo }}</small>
                        <br>
                        {{ post.content|raw }}
                    </p>
                </div>
            </div>
        </section>

        {% if user %}
        <form action="/post/show/{{ post.id }}" method="POST" class="text-center container">
            <h3>Laisser un commentaire</h3>
            <div class="input-group my-2">
                <label for="firstname" class="input-group-text">Prénom</label>
{#                {{ dump(user) }}#}
                <input type="text" name="firstname" id="firstname" class="form-control" value="{{ user.firstname }}" readonly>
            </div>
            <div class="input-group my-2">
                <label for="lastname" class="input-group-text">Nom</label>
                <input type="text" name="lastname" id="lastname" class="form-control" value="{{ user.lastname }}" readonly>
            </div>
            <div class="input-group my-2">
                <label for="content" class="input-group-text">Commentaire</label>
                <textarea name="content" id="content"  class="form-control"></textarea>
            </div>
            <input type="hidden" name="createdAt" value="{{ 'now'|date('Y-m-d') }}">
            <input type="hidden" name="isValid" value="0">
            <input type="hidden" name="post_id" value="{{ post.id }}">
            <input type="hidden" name="user_id" value="{{ user.id }}">
            <button type="submit" class="btn mx-auto w-25">Envoyer</button>
        </form>
        {% endif %}

        <section class="container">
            <ul class="list-unstyled list-group mt-4">
                {% for comment in post.comments %}
                    {% if comment.isValid %}
                <li class="list-group-item border-0">
                    <h4 class="h5">Commentaire de {{ comment.firstname }} {{ comment.lastname|slice(0,1) }}.</h4>
                    <p>{{ comment.content|raw }}</p>
                    <p>Écrit le {{ comment.createdAt }}</p>
                </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </section>

    {% endblock %}
